@model DataAccess.ParkingSensors.Model.ParkingData

@{
    ViewBag.Title = "ParkingSpotDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="column"><h2>ParkingSpotDeatail</h2></div>
    <div class="column"><h5><a href="javascript:void(0);" onclick="history.go(-1);">Back to Details</a></h5></div>
</div>

<p>Street address = @Model.Address</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BayId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lon)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.BayId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Lon)
        </td>
    </tr>
</table>

<img src="@ViewData["mapImage"]" alt="Parking location on map"/>

<script type="text/javascript">
    $(document).on('click', '#backLink', function () {
        history.go(-1);
    });
</script>