@model DataAccess.MelbourneDataPortal.MelbourneBikeShare.Model.BikeShareData

<div>
    <h4>BikeShareData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BayId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BayId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Featurename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Featurename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordinates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TerminalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerminalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NBBikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NBBikes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NBEmptydoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NBEmptydoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>

    </dl>
</div>

